<h3 class="my-3">Contact us</h3>
<div class="row cont-us">
    <div class="col-12">
        <div class="mx-md-4 my-4">
            <h5>Ashok Sarathi</h5>
            <a href="tel:+917598480914">+917598480914</a><br>
            <a href="mailto:ashoksarathi004@gmail.com">ashoksarathi004@gmail.com</a><br>
        </div>
    </div>
    <div class="col-12">
        <div class="mx-md-4 my-4">
            <h5>See also on</h5>
            <a class="mr-3" target="__blank" href="https://github.com/ashok-sarathi"><i class="fa fa-2x fa-github"></i></a>
            <a class="" target="__blank" href="https://in.linkedin.com/in/ashok-sarathi"><i
                    class="fa fa-2x fa-linkedin-square"></i></a>
        </div>
    </div>
</div>